{% load staticfiles %}
{% load permission_tags %}
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'website:index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">TES</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Tesis</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{request.user.userimage.model_pic.url}}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{request.user.first_name }} {{request.user.last_name}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{request.user.userimage.model_pic.url}}" class="img-circle" alt="User Image">
                            <p>
                                {{request.user.first_name }} {{request.user.last_name}}
                                <small>Tesis</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            {% if user|has_role:'system_admin' %}
                                <div class="pull-left">
                                    <a href="{% url 'website:admin_profile' %}" class="btn btn-default btn-flat">Perfil</a>
                                </div>
                            {% else %}
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Perfil</a>
                                </div>
                            {% endif %}
                            
                            <div class="pull-right">
                                <a href="{% url 'website:logout' %}" class="btn btn-default btn-flat">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>
              </ul>
        </div>
    </nav>
</header>
