{% load staticfiles %}
{% load permission_tags %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{request.user.userimage.model_pic.url}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{request.user.first_name }} {{request.user.last_name}}</p>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Main Panel</li>
            <li class="active treeview">
                {% if user|has_role:'system_admin' %}
                    <a href="{% url 'website:admin_index' %}">
                        <i class="fa fa-dashboard"></i> <span>Index</span>
                    </a>
                    <a href="{% url 'website:admin_show_users' %}">
                        <i class="fa fa-dashboard"></i> <span>Users</span>
                    </a>
                    <a href="{% url 'website:admin_show_friends' %}">
                        <i class="fa fa-dashboard"></i> <span>Friends</span>
                    </a>
                    <a href="{% url 'website:admin_show_logs_files' %}">
                        <i class="fa fa-dashboard"></i> <span>Logs Files</span>
                    </a>
                    <a href="{% url 'website:admin_show_logs_folders' %}">
                        <i class="fa fa-dashboard"></i> <span>Logs Folders</span>
                    </a>
                {% else %}
                    <a href="{% url 'website:user_index' %}">
                        <i class="fa fa-dashboard"></i> <span>Index</span>
                    </a>
                    <a href="{% url 'website:user_show_friends' %}">
                        <i class="fa fa-dashboard"></i> <span>Friends</span>
                    </a>
                {% endif %}
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
