{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title_page %}Tesis| Dashboard{% endblock %}

{% block title_content %}
	Dashboard
    <small>Inicio</small>
{% endblock %}

{% block level %}
	<li><a href="{% url 'website:user_index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Inicio</li>
{% endblock %}

{% block content %}
		<div class="box">
	    <div class="box-header">
	      <h3 class="box-title">User Dashboard</h3>
	    </div>
	    <div class="box-body">
	      <a class="btn btn-app" href="#">
	        <i class="fa fa-folder"></i> Folder1
	      </a>
	      <a class="btn btn-app" href="#">
	        <i class="fa fa-folder"></i> Folder2
	      </a>
	      <a class="btn btn-app" href="#">
	        <i class="fa fa-folder"></i> Folder3
	      </a>
	      <a class="btn btn-app" href="#">
	        <i class="fa fa-file"></i> File1
	      </a>
	      <a class="btn btn-app" href="#">
	        <i class="fa fa-file"></i> File2
	      </a>

	    </div><!-- /.box-body -->
	  </div><!-- /.box -->
{% endblock %}

