{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title_page %}Tesis| Dashboard{% endblock %}

{% block title_content %}
	Dashboard
    <small>Index</small>
{% endblock %}

{% block level %}
	<li><a href="{% url 'website:user_index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Index</li>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-6">
            <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-block btn-warning">New Folder</a>
        </div>
        <div class="col-xs-6">
            <a href="#" data-toggle="modal" data-target="#myModalNewFile" class="btn btn-block btn-success">New File</a>
        </div>
</div>
		<div class="box">
	    <div class="box-header">
	      <h3 class="box-title">User Dashboard</h3>
	    </div>
	    <div class="box-body">
	    	{% for folder in folders %}
		    	<a class="btn btn-app" href="{% url 'website:user_show_folder' folder.id %}">
			    	<i class="fa fa-folder"></i> {{folder.name}}
			    </a>
	    	{% endfor %}
	      	{% for file in files %}
		    	<a class="btn btn-app" href="#">
			    	<i class="fa fa-file"></i> {{file.name}}
			    </a>
	    	{% endfor %}

	    </div><!-- /.box-body -->
	  </div><!-- /.box -->
	  	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                	<form class="form-horizontal" role="form" action="{% url 'website:user_create_folder'%}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
                  	<div class="modal-header">
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    	<h4 class="modal-title">Create New Folder to {{root_folder.name}}</h4>
                  	</div>
                  	<div class="modal-body">
                    	<div class="row" style="margin-top:10px;">
						    <div class="col-xs-12">
						        <div class="box">
						            <div class="box-header">
						                <h3 class="box-title">New Folder</h3>
						            </div><!-- /.box-header -->
						            <div class="col-xs-12">
						                {% if error_message %}
						                    <div class="alert alert-danger alert-dismissable">
						                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						                        <h4><i class="icon fa fa-ban"></i> {{ error_message }}</h4>
						                    </div>
						                {% endif %}
						            </div>
						            
						            <div class="box-body">
						                <div class="form-group">
						                    <label for="inputName" class="col-sm-2 control-label">Name</label>
						                    <div class="col-sm-10">
						                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Folder name" required="">
						                    </div>
						                    <input type="hidden" class="form-control" name="user_id" value="{{user.id}}" required>
						                    <input type="hidden" class="form-control" name="father_id" value="{{root_folder.id}}" required>
						                </div>				                
						            </div><!-- /.box-body -->
						        </div><!-- /.box -->
						    </div><!-- /.col -->
						</div><!-- /.row -->
                  	</div>
                  	<div class="modal-footer">
                    	<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    	<button type="submit" class="btn btn-primary">Create</button>
                  	</div>
                  	</form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="myModalNewFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                	<form class="form-horizontal" role="form" action="{% url 'website:user_create_file'%}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
                  	<div class="modal-header">
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    	<h4 class="modal-title">Create New File to {{root_folder.name}}</h4>
                  	</div>
                  	<div class="modal-body">
                    	<div class="row" style="margin-top:10px;">
						    <div class="col-xs-12">
						        <div class="box">
						            <div class="box-header">
						                <h3 class="box-title">New File</h3>
						            </div><!-- /.box-header -->
						            <div class="col-xs-12">
						                {% if error_message %}
						                    <div class="alert alert-danger alert-dismissable">
						                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						                        <h4><i class="icon fa fa-ban"></i> {{ error_message }}</h4>
						                    </div>
						                {% endif %}
						            </div>
						            
						            <div class="box-body">
						                <div class="form-group">
						                    <label for="inputName" class="col-sm-2 control-label">Name</label>
						                    <div class="col-sm-10">
						                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Folder name" required="">
						                    </div>
						                    <input type="hidden" class="form-control" name="user_id" value="{{user.id}}" required>
						                    <input type="hidden" class="form-control" name="folder_id" value="{{root_folder.id}}" required>
						                </div>				                
						            </div><!-- /.box-body -->
						        </div><!-- /.box -->
						    </div><!-- /.col -->
						</div><!-- /.row -->
                  	</div>
                  	<div class="modal-footer">
                    	<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    	<button type="submit" class="btn btn-primary">Create</button>
                  	</div>
                  	</form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
{% endblock %}

