{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title_page %}Tesis| Perfil{% endblock %}

{% block title_content %}
	Dashboard
    <small>Start</small>
{% endblock %}

{% block level %}
	<li><a href="{% url 'website:admin_index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Perfil</li>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-3">

		<!-- Profile Image -->
		<div class="box box-primary">
			<div class="box-body box-profile">
				<img class="profile-user-img img-responsive img-circle" src="{% static 'dist/img/user4-128x128.jpg' %}" alt="User profile picture">
				<h3 class="profile-username text-center">{{request.user.first_name }} {{request.user.last_name}}</h3>
				<p class="text-muted text-center">
					Admin
				</p>

				<ul class="list-group list-group-unbordered">
					<li class="list-group-item">
						<b>Folders</b> <a class="pull-right">1,322</a>
					</li>
					<li class="list-group-item">
						<b>Files</b> <a class="pull-right">543</a>
					</li>
					<li class="list-group-item">
						<b>Friends</b> <a class="pull-right">13,287</a>
					</li>
				</ul>

				<a href="#" class="btn btn-primary btn-block"><b>Get Friends</b></a>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div><!-- /.col -->

	<div class="col-md-9">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
				<li><a href="#settings" data-toggle="tab">Settings</a></li>
			</ul>
			<div class="tab-content">
				<div class="active tab-pane" id="timeline">
					<!-- The timeline -->
					<ul class="timeline timeline-inverse">
					<!-- timeline time label -->
					<li class="time-label">
					<span class="bg-red">
					10 Feb. 2014
					</span>
					</li>
					<!-- /.timeline-label -->
					<!-- timeline item -->
					<li>
					<i class="fa fa-envelope bg-blue"></i>
					<div class="timeline-item">
					<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
					<h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
					<div class="timeline-body">
					Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
					weebly ning heekya handango imeem plugg dopplr jibjab, movity
					jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
					quora plaxo ideeli hulu weebly balihoo...
					</div>
					<div class="timeline-footer">
					<a class="btn btn-primary btn-xs">Read more</a>
					<a class="btn btn-danger btn-xs">Delete</a>
					</div>
					</div>
					</li>
					<!-- END timeline item -->
					<!-- timeline item -->
					<li>
					<i class="fa fa-user bg-aqua"></i>
					<div class="timeline-item">
					<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
					<h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
					</div>
					</li>
					<!-- END timeline item -->
					<!-- timeline item -->
					<li>
					<i class="fa fa-comments bg-yellow"></i>
					<div class="timeline-item">
					<span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
					<h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
					<div class="timeline-body">
					Take me to your leader!
					Switzerland is small and neutral!
					We are more like Germany, ambitious and misunderstood!
					</div>
					<div class="timeline-footer">
					<a class="btn btn-warning btn-flat btn-xs">View comment</a>
					</div>
					</div>
					</li>
					<!-- END timeline item -->
					<!-- timeline time label -->
					<li class="time-label">
					<span class="bg-green">
					3 Jan. 2014
					</span>
					</li>
					<!-- /.timeline-label -->
					<!-- timeline item -->
					<li>
					<i class="fa fa-camera bg-purple"></i>
					<div class="timeline-item">
					<span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
					<h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
					<div class="timeline-body">
					<img src="http://placehold.it/150x100" alt="..." class="margin">
					<img src="http://placehold.it/150x100" alt="..." class="margin">
					<img src="http://placehold.it/150x100" alt="..." class="margin">
					<img src="http://placehold.it/150x100" alt="..." class="margin">
					</div>
					</div>
					</li>
					<!-- END timeline item -->
					<li>
					<i class="fa fa-clock-o bg-gray"></i>
					</li>
					</ul>
				</div><!-- /.tab-pane -->

				<div class="tab-pane" id="settings">
					<form class="form-horizontal" role="form" action="{% url 'website:admin_profile_update'%}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label for="inputName" class="col-sm-2 control-label">Firstname</label>
							<div class="col-sm-10">
								<input type="text" name="first_name" class="form-control" id="inputName" placeholder="Firstname" value="{{user.first_name}}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputName" class="col-sm-2 control-label">Lastname</label>
							<div class="col-sm-10">
								<input type="text" name="last_name" class="form-control" id="inputName" placeholder="Lastname" value="{{user.last_name}}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" value="{{user.email}}">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-danger">Update</button>
							</div>
						</div>
					</form>
				</div><!-- /.tab-pane -->
			</div><!-- /.tab-content -->
		</div><!-- /.nav-tabs-custom -->
	</div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}

