{% extends 'website/base.html' %}
{% load staticfiles %}
{% load permission_tags %}

{% block title_page %}Tesis| Friends{% endblock %}

{% block title_content %}
	Dashboard
    <small>Share Files Notifications</small>
{% endblock %}

{% block level %}
	<li><a href="{% url 'website:admin_index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Share Files Notifications</li>
{% endblock %}

{% block content %}
  <div class="row">
    {% if share_files.count > 0 %}
      {% for file in share_files%}
        <div class="col-md-4">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username">
                  {{file.file.name}}
                </h3>
                <h5 class="widget-user-desc">
                  {{file.file.folder.user.first_name}}
                </h5>
            </div>
            <div class="widget-user-image">
                  <img class="img-circle" src="{{file.file.folder.user.userimage.model_pic.url }}" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-xs-4 ">
                  <a href="{% url 'website:admin_accept_share_files_request' file.id %}" class="btn btn-block btn-success">Accept</a>
                </div><!-- /.col -->
                <div class="col-xs-4 ">
                  <a href="{% url 'website:admin_denied_share_files_request' file.id %}" class="btn btn-block btn-warning">Denie</a>
                </div><!-- /.col -->
                <div class="col-xs-4 ">
                  <a href="#" class="btn btn-block btn-danger">Block</a>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div>
          </div><!-- /.widget-user -->
        </div><!-- /.col -->
      {% endfor %}
    {% else %}
      No Share files Notifications
    {% endif%}


    
  </div>
{% endblock %}

