{% extends 'website/base.html' %}
{% load staticfiles %}
{% load permission_tags %}

{% block title_page %}Tesis| Users{% endblock %}

{% block title_content %}
	Dashboard
    <small>Users</small>
{% endblock %}

{% block level %}
	<li><a href="{% url 'website:admin_index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Users</li>
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-xs-6">
            <a href="{% url 'website:admin_create_admin' %}" class="btn btn-block btn-warning">New Admin</a>
        </div>
        <div class="col-xs-6">
            <a href="{% url 'website:admin_create_user' %}" class="btn btn-block btn-success">New User</a>
        </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Users List</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td><a href="{% url 'website:admin_show' user.id %}">{{user.id}}</a></td>
                            <td><a href="{% url 'website:admin_show' user.id %}">{{user.first_name}}</a></td>
                            <td>{{user.email}}</td>
                            <td>{{user.username}}</td>
                            <td>
	                            {% if user|has_role:'system_admin' %}
	                            Admin
	                            {%else%}
	                            User
	                            {%endif%}
                            </td>
                            <td>
                            	<div class="row">
                            		<div class="col-xs-6">
                            			<a href="{% url 'website:admin_edit_user' user.id %}" class="btn btn-block btn-primary">Edit</a>
                            		</div>
                            		{% if user.is_active %}
                            		<div class="col-xs-6">
                            			<a href="{% url 'website:admin_delete' user.id %}" class="btn btn-block btn-danger">Delete</a>
                            		</div>
                            		{% else %}
                            		<div class="col-xs-6">
                            			<a href="{% url 'website:admin_active' user.id %}" class="btn btn-block btn-success">Active</a>
                            		</div>
                            		{% endif %}
                            	</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}

