{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title_page %}Tesis| Dashboard{% endblock %}

{% block title_content %}
  Dashboard
    <small>Permission Denied</small>
{% endblock %}

{% block level %}
  <li><a href="{% url 'website:index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Inicio</li>
{% endblock %}

{% block content %}
<div class="error-page">
  <h2 class="headline text-yellow"> 403</h2>
  <div class="error-content">
  <h3><i class="fa fa-warning text-yellow"></i> Oops! Permission Denied.</h3>
  <p>
    You do not have permission to access this feature.
    Meanwhile, you may <a href="{% url 'website:index' %}">return to dashboard</a>
  </p>
  </div><!-- /.error-content -->
</div><!-- /.error-page -->
{% endblock %}
